/* styling for icons for features end */
.info-box{
  display: flexbox;
}

svg {
  height: 100px;
  width: 100px;
}

circle {
  fill: transparent;
  stroke: orange;
  stroke-width: 3;
}

.dashed {
  stroke-dasharray: 2, 5;
}

.dotted {
  stroke-dasharray: 0.1, 12.5;
  stroke-linecap: round;
}

.image {
  height: 100px;
  width: 100px;
  color: orange;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

.icon {
  height: 2.5rem;
}

.round {
  display: flex;
}

.content {
  margin: 0.8rem;
}
/* styling for icons for features end */


span {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}



